doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="css/main.css")
    title business

body
  include section/header
  main.content
    include section/intro
