body{
  font-size: 1rem;
  line-height: 1.2;
  font-family: Lato;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
li{
  list-style-type:none;
}
