.container{
  max-width: 1060px;
  margin: auto;
}
.wrapper{
  max-width: 1262px;
  margin: 0 auto;
}
.is-hidden{
  display: none!important
}
.visually-hidden{
  font-size: 0;
}
.title_style{
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}
.video_wrapper{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
