.intro{
  min-height: 100vh;
  background: url(../images/Hero.jpg) no-repeat;
  background-size:cover;
  padding-top: 263px;
  color: #FFFFFF;
  padding-bottom: 223px;


  &_title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 22px;


    &_sub{
      max-width: 546px;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 59px;
    }
  }
}
