.places{
  margin-bottom: 131px;



  &_caption{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 46px;
  }


  &_title{
    position: relative;
    margin-right: 15px;

      @include strip;
  }
  &_view{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;

    &::after{
      @include arrow;
    }
  }


  &_cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    position: relative;
  }
  &_card{

    &_dark{
      position: relative;
    }

    &_dark::after{
      display: block;
      content: '';
      width: 100%;
      height: 99%;
      background: rgba(21, 24, 36, 0.4);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }

    &_title{
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #fff;
      position: absolute;
      bottom: 27px;
      left: 29px;
      z-index: 3;
    }

    &_top{
      grid-column: span 3
    }


    &_bot{
      grid-column: span 2;
    }

    &_pic{
      object-fit: cover;
      width: 100%;

      &_big{
        height: 354px;
      }

      &_small{
        height: 283px;
      }
    }


    &_link{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }

  }
}
