section.benefits
  .benefits_wrapper
    h2.benefits_title Benefits of Odigo
    .benefits_cards
      .benefits_cards_item
        img.benefits_cards_item_icon(src="images/icon.png")
        h3.benefits_cards_item_title Welcome to Odigo!
        p.benefits_cards_item_text.
          Jump off balcony, onto stranger's head.
          Chase ball of string hide when guests come over.
        a.benefits_cards_item_link(href="#") LEARN MORE 
      .benefits_cards_item
        img.benefits_cards_item_icon(src="images/icon1.png")
        h3.benefits_cards_item_title Your Personal Japan Guide
        p.benefits_cards_item_text.
         Jump off balcony, onto stranger's head.
         Chase ball of string hide when guests come over.
        a.benefits_cards_item_link(href="#") LEARN MORE
      .benefits_cards_item
        img.benefits_cards_item_icon(src="images/icon2.png")
        h3.benefits_cards_item_title Promoting Local Businesses
        p.benefits_cards_item_text.
          Jump off balcony, onto stranger's head.
          Chase ball of string hide when guests come over.
        a.benefits_cards_item_link(href="#") LEARN MORE
