form.form(action="")
  fielset.form_wrapper
    p.form_info
      input.form_field(type="text" name="user-like-to-do" placeholder="What would you like to do?")
      input.form_field(type="text" name="user-like-to-go" placeholder="Where would you like to go?")
      button.button.form_button(type="submit") search
