header.header
  .container
    .header_container
      .header_logo
        a.header_logo_link(href="/")
          img.header_logo_picture(src="images/logo.png" alt="logo")
      include nav
      .header_burger.burger
        span.burger_line.burger_line_first
        span.burger_line.burger_line_second
        span.burger_line.burger_line_thirs
