section.intro
  .container
    h1.intro_title Discover Amazing places in Japan
    p.intro_title_sub.
      Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
      Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
    include form
