section.places
  .wrapper
    .places_caption
      h2.places_title.title_style Get inspired for your next trip
      a.places_view(href="#") VIEW ALL
    .places_cards
      figure.places_card_dark.places_card_top
        img.places_card_pic.places_card_pic_big(src="images/place1.jpg" alt="")
        figcaption.places_card_title Mount Fuji
        a.places_card_link(href="#")
      figure.places_card_dark.places_card_top
        img.places_card_pic.places_card_pic_big(src="images/place2.jpg" alt="")
        figcaption.places_card_title Kyoto
        a.places_card_link(href="#")
      figure.places_card_dark.places_card_bot
        img.places_card_pic.places_card_pic_small(src="images/place3.jpg" alt="")
        figcaption.places_card_title Tokyo
        a.places_card_link(href="#")
      figure.places_card_dark.places_card_bot
        img.places_card_pic.places_card_pic_small(src="images/place4.jpg" alt="")
        figcaption.places_card_title Niigata
        a.places_card_link(href="#")
      figure.places_card_dark.places_card_bot
        img.places_card_pic.places_card_pic_small(src="images/place5.jpg" alt="")
        figcaption.places_card_title Sapporo
        a.places_card_link(href="#")
