section.top
  .wrapper
    h2.top_title Today top places to visit
    .top_cards
      .top_cards_card
        .top_cards_card_pic
          img.top_cards_card_picture(src="images/card1.jpg" alt="")
          .top_cards_card_stats
            h3.top_cards_card_stats_title NAGOYA
            .top_cards_card_stats_like
              span.top_cards_card_stats_like_value 221
            .top_cards_card_stats_comment
              span.top_cards_card_stats_comment_value 50
        p.top_cards_card_description.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
        a.button.top_cards_card_button(href="#!") SEE MORE

      .top_cards_card
        .top_cards_card_pic
          img.top_cards_card_picture(src="images/card2.jpg" alt="")
          .top_cards_card_stats
            h3.top_cards_card_stats_title NIIGATA
            .top_cards_card_stats_like
              span.top_cards_card_stats_like_value 221
            .top_cards_card_stats_comment
              span.top_cards_card_stats_comment_value 50
        p.top_cards_card_description.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
        a.button.top_cards_card_button(href="#!") SEE MORE

      .top_cards_card
        .top_cards_card_pic
          img.top_cards_card_picture(src="images/card3.jpg" alt="")
          .top_cards_card_stats
            h3.top_cards_card_stats_title OSAKA
            .top_cards_card_stats_like
              span.top_cards_card_stats_like_value 221
            .top_cards_card_stats_comment
              span.top_cards_card_stats_comment_value 50
        p.top_cards_card_description.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
        a.button.top_cards_card_button(href="#!") SEE MORE

      .top_cards_card
        .top_cards_card_pic
          img.top_cards_card_picture(src="images/card4.jpg" alt="")
          .top_cards_card_stats
            h3.top_cards_card_stats_title SAITAMA
            .top_cards_card_stats_like
              span.top_cards_card_stats_like_value 221
            .top_cards_card_stats_comment
              span.top_cards_card_stats_comment_value 50
        p.top_cards_card_description.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
        a.button.top_cards_card_button(href="#!") SEE MORE

      .top_cards_card
        .top_cards_card_pic
          img.top_cards_card_picture(src="images/card5.jpg" alt="")
          .top_cards_card_stats
            h3.top_cards_card_stats_title UENO
            .top_cards_card_stats_like
              span.top_cards_card_stats_like_value 221
            .top_cards_card_stats_comment
              span.top_cards_card_stats_comment_value 50
        p.top_cards_card_description.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
        a.button.top_cards_card_button(href="#!") SEE MORE

      .top_cards_card
        .top_cards_card_pic
          img.top_cards_card_picture(src="images/card6.jpg" alt="")
          .top_cards_card_stats
            h3.top_cards_card_stats_title SHIBUYA
            .top_cards_card_stats_like
              span.top_cards_card_stats_like_value 221
            .top_cards_card_stats_comment
              span.top_cards_card_stats_comment_value 50
        p.top_cards_card_description.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this.
        a.button.top_cards_card_button(href="#!") SEE MORE
