.tours
  .wrapper
    .tours_tour
      .tours_tour_picture
        img.tours_tour_picture_logo(src="images/tours.jpg" alt="")
      .tours_tour_info
        h3.tours_tour_info_title  Prefecture in Focus: Tottori
        p.tours_tour_info_text.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
        a.tours_tour_info_link(href="#") VIEW PREFECTURE

    .tours_tour
      .tours_tour_info
        h3.tours_tour_info_title Featured Neighborhood: Kyoto’s Arashiyama
        p.tours_tour_info_text.
          Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
          Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
        a.tours_tour_info_link(href="#") VIEW PREFECTURE
      .tours_tour_picture
        img.tours_tour_picture_logo(src="images/tours1.jpg" alt="")
